
.rona-header{
  display: flex;
}
.rona-header > nav {
  margin-left: auto;
  margin-top: auto;
}
.rona-header > nav > * {
  margin-right: 35px;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  font-weight: 200;
}