body {
  font-size: 1.5em;
  overflow-x: hidden;
}
.rona-header{
  display: flex;
}
.rona-header > nav {
  margin-left: auto;
  margin-top: auto;
}
.rona-header > nav > * {
  margin-right: 35px;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.btn {
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  font-weight: 100;
}

.btn-primary {
  background: #00773E;
}
.btn-secondary {
  background: transparent;
}

.carousel-item__container {
	position: relative;
	color: white;
	height: 100%;
}

.mr-3{
  margin-right: 2em;
}

.carousel-item__background {
  position: absolute;
  top: 0 ;
  left: 0;
  z-index: -1;
  filter: brightness(.4);
  height: 100%;
}

.carousel-item__main-text{
  font-size: 2em;
  margin-bottom: 1em;
}

.carousel-item__text-container {
	padding-top: 8%;
  padding-bottom: 8%;
}

.carousel-item__secondary-text{
  margin-bottom: 15px;
  display: block;
  font-weight: 100;
}
.carousel .control-arrow::before, .carousel.carousel-slider .control-arrow::before {
	margin: 0 53px !important;
	display: inline-block;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	content: '';
}
.carousel .control-prev.control-arrow::before {
	border-right: 8px solid #fff;
  transform: scale(5);
}

.carousel .control-next.control-arrow::before {
	border-left: 8px solid #fff;
	transform: scale(5);
}

.rona-footer{
  display: flex;
  background: #7E0000;
  padding: 60px 45px;
  align-items: center;
  justify-content: flex-end;
}
.rona-footer > nav {
  margin-right: 50px;
}
.rona-footer > nav > * {
  color: black;
  text-decoration: none;
  color: white;
  margin-right: 100px;
}